#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.currentbox{
  border: #4CAF50 2px solid;
}

.invalid{
  pointer-events: none;
}